.Header {
    display: flex;
    padding-left: 20px;
    border: 1px solid black;
    border-width: 100%;
    
    
}

.Title {
    font-size: 20px;
    margin-left: 0;
    margin-right: 20px;
    padding-top: 10px;
}

.listItems > ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-left: 50px;
    
}
 ul > li {
     margin-left: 20px;
     cursor: pointer;
     font-weight: 80 important !important;
     padding-top: 10px;
 }

.createPoll {
    border-radius: 40px !important;
    
}

.ProfileIcon {
    padding-top: 5px;
}


@media only screen and (min-width: 768px){
 

    .Title {
        margin-right: 90px;
        padding-top: 10px;
    }

    
.listItems > ul {
    margin-left: 280%;
    
}

ul > li {
    padding-top: 10px;
}
.ProfileIcon {
    padding-top: 13%;
}


}
