* {
    box-sizing: border-box;
}

.Header {
    display: flex;
   border: 1px solid black;    
}

.Title {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 20px;
    padding-top: 10px;
}

.listItems > ul {
    display: flex;
    list-style: none;
    font-size: 20px;
   
      
}
 ul > li {
     cursor: pointer;
     font-weight: 80 important !important;
     padding-top: 10px;
     padding-left: 15px;
 }

.createPoll {
    border-radius: 40px !important;
    
}

.ProfileIcon {
    padding-top: 5px;
}



@media (min-width: 700px) {
    .listItems > ul {
        margin-left: 450px;
    }
}


@media (min-width: 992px) {
    .listItems > ul {
        margin-left: 900px;
    }
}


@media (min-width: 1200px) {
    .listItems > ul {
        margin-left: 1010px;
    }
}